:host {
    display: flex; /* Keep this as per your requirement */
  }

  
  ul {
    display: grid; 
    grid-template-columns: repeat(2, 30dvw); 
    grid-template-rows: repeat(2, 1px); 
    gap: 5dvh;
    font-size: 18px;
    list-style: none;
    padding: 2dvh 0 0 3dvw;
    margin-bottom: 7vh;
  }
  
  li {
    padding: 1dvh 0 0 0;
    color: var(--list-color, var(--purple));
  }
  
  