:host {
    display: flex; /* Keep this as per your requirement */
    margin: 2dvh 0;
  }

  
  ul {
    display: grid; 
    grid-template-columns: repeat(2, 30dvw); 
    grid-template-rows: repeat(2, auto); 
    gap: 3dvh;
    font-size: 24px;
    list-style: none;
    padding: 2dvh 0 2dvh 3dvw;
  }
  
  li {
    padding: 1dvh 0 0 0;
    color: var(--list-color);
  }
  
  a {
    text-decoration: none;
    color: inherit;
    display: inline-block; /* Ensure the link scales independently */
    transition: transform 0.3s, opacity 0.3s;
    opacity: 0.8;
  
    &:hover {
      opacity: 1  ;
      transform: scale(1.05);
    }
  }
  