<div class="modal-backdrop" (click)="onBackdropClick($event)"></div>
<div class="info-container" [class.expanded]="isExpanded">
  <div class="info-header">
    <span class="btn close-btn" (click)="closeModal()"></span>
    <span class="btn min-btn" (click)="closeModal()"></span>
    <span class="btn max-btn" (click)="toggleMaximize()"></span>
  </div>
  <div class="info-body">
    <h1>{{ project.title }}</h1>
    <div [innerHTML]="project.info"></div>
    <div class="link-container">
      <a href="{{ project.documentation }}" class="info-link" target="_blank">explore</a>
      <a href="{{ project.github }}" class="info-link" target="_blank">github</a>
    </div>
  </div>
</div>
