
h1{
    color: var(--grey);
    font-size: 18px;
    width: 30%;
    margin: 0 auto;
}
p{
    color: var(--green);
    font-size: 18px;
    width: 65ch;
    padding: 2dvh 0 2dvh 3dvw;
}

.timeline-container {
    margin: 0 1vw;
    display: flex;
    align-items: center;
    width: auto;
  }

  .icon {
    background-color: #2060d0; /* Blue color */
    color: white;
    width: auto;
    height: 15px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
  }

  .line {
    flex-grow: 1;
    height: 1px;
    background-color: #666; /* Line color */
  }

  .label {
    color: #ccc;
    background-color: #444;
    font-size: 12px;
    padding: 2px 6px;
    border-radius: 4px;
    margin-left: 5px;
  }


