
h1{
    color: var(--grey);
    font-size: 16px;
    opacity: 0.8;
    width: 100%;
    text-align: center;
    margin: 1dvh auto 3dvh;
    font-weight: 200;
}
p{
    color: var(--green);
    font-size: 20px;
    font-weight: 200;
    max-width: 90dvw;
    width: 65ch;
    padding: 2dvh 0 2dvh 3dvw;
    margin: 2dvw 0 ;
}

  
#bio-text {
  position: relative;
  display: inline-block;
  font-family: monospace;
}

#bio-text:after {
  content: '|';
  position: relative;
  top: 0;
  left: -2px;
  font-size: 24px;
  color: var(--green);
  pointer-events: none;  /* Prevent interaction with the cursor */
}
#bio-text.cursor-blink:after {
  animation: blink 1s step-end infinite;
  opacity: 1;  /* Make the cursor visible when typing is complete */
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

