/* You can add global styles to this file, and also import other style files */
:root{
    --bg-color:#090909;
    --green:#008F11;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
}
