/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
:root{
    --bg-color:#1e2635;
    --grey:	#a1a8b9;
    --green: #38b86a;    ;
    --blue: #6cdde4;
    --blue-hover: #4cc3d0;
    --purple: #b383e2;
    --purple-hover: #9f6cd8;
}


  body {
    font-family: 'JetBrains Mono', sans-serif;
    font-weight:100;
  }
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
}
